.title {
  font-size: 38px;
  font-weight: bold;
}

.header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 20px 40px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  color: #212529;
  text-decoration: none;
  font-size: 20px;
  border: none;
  font-weight: 400;
  padding: 0;
}

.navlist {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.active {
  color: #015c92;
  font-weight: bold;
  text-shadow: 0px 0px 8px rgba(2, 147, 231, 0.5);
  font-size: 22px;
}

.active::after {
  width: 100%;
  left: 0;
}

/* Меню для великих екранів */
.desktopMenu {
  display: none;
}

/* Кнопка меню (гамбургер) */
.menuToggle {
  font-size: 24px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

/* Мобільне меню (спочатку приховане) */
.mobileMenu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 97px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: white;
}

.mobileMenu.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mobileMenu li {
  padding: 15px;
}

.mobileMenu li a {
  color: white;
  text-decoration: none;
}
.navMobileLink {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  font-weight: 400;
  background-color: transparent;
}
/* Адаптація для великих екранів */
@media (min-width: 768px) {
  .menuToggle {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
  .navlist {
    flex-direction: row;
  }
  .desktopMenu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .mobileMenu.open {
    display: none;
  }
  .navMobileLink {
    color: #212529;
  }
}
